/* trang chu */
body{
    background-color: rgb(0, 0, 0);
}
.header{
    display: flex;
}
.logo img{
    width: 80%;
    transform: translate(5%,5%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left-main{
    width: 40%;
    height: 130px;
}
.right-main {
    font-family: Arial, sans-serif;
    color: #fff;   
    /* background-color: rgb(169, 100, 10); */
    height: 130px;
    width: 60%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 90%;
    transform: translate(0,67%);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; 
    transition: color 0.5s ease;  /* dùng để tạo hiệu ứng khi trỏ chuột */
}

.nav-links a:hover {
    color: #f31212;
}
/* từ line 1 -> 57 dùng cho tất cả các tính năng */
/* LƯU Ý: Đặt tên class tránh trùng với nhau(thêm tên riêng trước các class theo từng tính năng VD: class = "video_main"; class = "sale_img") */

/* trang chủ */




/* video */
.video span{
    color: white;
}
.video{
    margin-bottom: 50px;
}


/* sp_sale */




/* địa điểm */




/* team */




/* contact */
